html {
    min-width: 600px;
}

.flex-container {
    display: flex;
}

.main-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* --------- header css --------- */

.flex-header-container {
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
    flex-wrap: wrap;
    
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

nav {
    text-align: center;
}

.nav-item {
    color: red;
    font-size: 1.3rem;
    margin: 1.5rem;
}

.header-item-1 {
    flex-grow: 1;
}

.header-item-2 {
    flex-grow: 1;
    width: 6rem;
}

.header-item-row {
    flex-grow: 1;
    width: 21rem;
}

.header-item-3 {
    flex-shrink: 0;
    flex-grow: 1;
}

.aloha-logo {
    width: 10rem;
    height: 4rem;
}

.cart-icon {
    position: relative;
    left: 10.6rem;
    width: 4rem;
    height: 4rem;
}

.header-text-container {
    position: relative;
    bottom: 29.0rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-header-text {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
    margin-top: 0rem;
}

.subtitle-header-div {
    text-align: center;
    width: 100%;
}

.subtitle-header-text {
    color: white;
    font-size: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/* --------- end header css --------- */

/* --------- first banner css css --------- */

.banner-item {
    flex-grow: 1;
}

.first-banner {
    min-width: 580px;
    width: 100%;
    height: 548px;
    background: url(images/flower-bkgd.jpg) repeat;
    background-size: cover;
    background-position: center;
}

.figure-banner-girl {
    height: 84.75%;
    position: relative;
    top: 15.2%;
    width: 100%;
    overflow: hidden;
    justify-content: space-evenly;
    margin: 0;
}

.banner-girl {
    width: 207px;
    height: 506px;
}

/* --------- end banner css css --------- */


/* --------- first message --------- */

.first-message-container {
    height: 340px;
    width: 57%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 574px;
}

.title-first-message {
    font-size: 4rem;
    margin: 0rem;
}

.subtitle-first-message {
    text-align: center;
    font-size: 1.7rem;
}

/* --------- end first message--------- */

/* --------- categories --------- */

.category-container {
    flex-direction: row;
    height: 1000px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.category-item {
    height: 250px;
    background-color: yellow;
}

.category-item p {
    text-align: center;
    position: relative;
    top: 4.5rem;
    font-size: 2rem;
    color: white;
}

.category-item1 {
    background-image: url(images/mens-category.jpg);
    background-size: cover;
}

.category-item2 {
    background-image: url(images/trends-category.jpg);
    background-size: cover;
}

.category-item3 {
    background-image: url(images/glasses-category.jpg);
    background-size: cover;
}

.category-item4 {
    background-image: url(images/sale-category.jpg);
    background-size: cover;
}

.category-item5 {
    background-image: url(images/bags-category.jpg);
    background-size: cover;
}

.category-item6 {
    background-image: url(images/womens-category.jpg);
    background-size: cover;
}


/* .max-category-item {
    width: 20%;
}

.min-category-item {
    width: 15%;
} */

.max-category-item {
    width: 100%;
    height: 230px;
}

.min-category-item {
    width: 49%;
}


/* --------- end categories --------- */

/* --------- products --------- */

.products {
    width: 100%;
    height: 800px;
}

.products-header-container {
    width: 100%;
    margin: 0px;
    height: 150px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.products-header-container p {
    font-size: 3.5rem;
    margin: 0px;
}

.carousel {
    background:white;
}
  
.carousel-cell-container {
    width: 100%;
    height: 600px;
    margin-right: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* --------- end products --------- */

/* --------- updates --------- */

.updates {
    width: 100%;
    height: 400px;
    background-image: url(images/wave-bkgd.jpg);
    background-size: 230% 260%;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: bottom;
}

.update-container {
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 574px;
}

.update-message-container {
    height: 400px;
    width: 57%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: 574px;
    max-width: 887px;
}

.update-title {
    color: white;
    font-size: 3.5rem;
    margin: 0px;
}

.update-subtitle {
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin: 0px;
}

.submit-email-container {
    flex-direction: row;
    background-color: white;
    width: 90%;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.input-email {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-style: hidden;
    width: 66%;
    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.subscribe-btn {
    background-color: red;
    color: white;
    width: 34%;
    margin: 0.2rem;
    font-size: 1.25rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* --------- end updates --------- */

/* --------- footer --------- */

.footer-container {
    background-color: #262424;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 574px;
    margin-top: 1rem;
}

.footer-text {
    color: white;
}

.footer-first-column-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.copyright-text {
    margin: 2px;
    font-size: 1.55rem;
}

.contact-text {
    font-size: 1.55rem;
}

.footer-copyright-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-address-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address-text {
    color: grey;
    margin: 2px;
    font-size: 1.6rem;
}

.footer-icon-social-network {
    color: white;
    font-size: 1.2rem;
}

.footer-social-network {
    color: white;
    display: none;
}

/* .footer-social-network-item {
    display: inline-block;
} */

ul#social-network-list li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

/* --------- end footer --------- */