@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Medium.eot');
    src: url('./fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Raleway-Medium.woff2') format('woff2'),
        url('./fonts/Raleway-Medium.woff') format('woff'),
        url('./fonts/Raleway-Medium.ttf') format('truetype'),
        url('./fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-LightItalic.eot');
    src: url('./fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('./fonts/Raleway-LightItalic.woff') format('woff'),
        url('./fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('./fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Light.eot');
    src: url('./fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Raleway-Light.woff2') format('woff2'),
        url('./fonts/Raleway-Light.woff') format('woff'),
        url('./fonts/Raleway-Light.ttf') format('truetype'),
        url('./fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-MediumItalic.eot');
    src: url('./fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('./fonts/Raleway-MediumItalic.woff') format('woff'),
        url('./fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('./fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Bold.eot');
    src: url('./fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('./fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('./fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url("./fonts/PlayfairDisplay-Bold.otf") format("opentype"),
        url('./fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Italic.eot');
    src: url('./fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('./fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('./fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url("./fonts/PlayfairDisplay-Italic.otf") format("opentype"),
        url('./fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('./fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('./fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('./fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url("./fonts/PlayfairDisplay-BoldItalic.otf") format("opentype"),
        url('./fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Regular.eot');
    src: url('./fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('./fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url("./fonts/PlayfairDisplay-Regular.otf") format("opentype"),
        url('./fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    min-width: 600px;
}

body {
    font-family: "Raleway", Arial, sans-serif;
}

.flex-container {
    display: flex;
}

.main-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* --------- header css --------- */

.flex-header-container {
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: unset;
}

.nav-item {
    color: red;
    font-size: 1.3rem;
    margin: 1.5rem;
}

.header-item-1 {
    flex-grow: 1;
}

.header-item-2 {
    flex-grow: 1;
    width: 6rem;
}

.header-item-row {
    flex-grow: 1;
    width: 22rem;
}

.header-item-3 {
    flex-shrink: 0;
    flex-grow: 1;
}

.aloha-logo {
    width: 10rem;
    height: 4rem;
}

.cart-icon {
    position: relative;
    left: 10.6rem;
    width: 4rem;
    height: 4rem;
}

.cart-icon-item {
    position: relative;
    bottom: 3.2rem;
    left: 9rem;
    width: 22px;
    height: 22px;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: none;
}

.cart-icon-item-show {
    display: inline-block;
}

.header-text-container {
    position: relative;
    bottom: 29.0rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-header-text {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
    margin-top: 0rem;
    font-weight: bold;
}

.subtitle-header-div {
    text-align: center;
    width: 100%;
}

.subtitle-header-text {
    color: white;
    font-size: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: "Playfair Display", Arial, sans-serif;
    font-weight: bold;
    text-shadow: grey 0 3px;
}

@media screen and (min-width: 600px) {
    .flex-header-container {
        justify-content: space-between;
        width: 100%;
        flex-wrap: nowrap;
    }

    .nav-item {
        font-size: 1.1rem;
        margin: 0.4rem;
    }

    .header-item-1 {
        order: 1;
        flex-grow: 0;
    }

    .header-item-2 {
        order: 3;
        flex-grow: 0;
    }
    
    .header-item-row {
        display: none;
    }
    
    .header-item-3 {
        order: 2;
    }

    .cart-icon {
        position: initial;
        left: initial;
    }

    .title-header-text {
        font-size: 1.9rem;
    }

    .subtitle-header-text {
        font-size: 3.9rem;
        display: inline-block;
    }

    .cart-icon-item {
        left: initial;
        right: 1.6rem;
    }

}

/* --------- end header css --------- */

/* --------- first banner css css --------- */

.banner-item {
    flex-grow: 1;
}

.first-banner {
    min-width: 600px;
    width: 100%;
    height: 548px;
    background: url(images/flower-bkgd.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.figure-banner-girl {
    height: 84.75%;
    position: relative;
    top: 15.2%;
    width: 100%;
    overflow: hidden;
    justify-content: space-evenly;
    margin: 0;
}

.banner-girl {
    width: 207px;
    height: 506px;
}

@media screen and (min-width: 600px) {
    .first-banner {
        background: url(images/flower-bkgd.jpg) repeat;
        background-size: contain;
    }
}

/* --------- end banner css css --------- */


/* --------- first message --------- */

.first-message-container {
    height: 340px;
    width: 57%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 574px;
}

.title-first-message {
    font-family: "Playfair Display", Arial, sans-serif;
    font-style: italic;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.title-first-message strong {
    font-style: initial;
    font-weight: bold;
}

.subtitle-first-message {
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
}

/* --------- end first message--------- */

/* --------- categories --------- */

.category-container {
    flex-direction: row;
    height: 1000px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.category-item {
    height: 250px;
}

.category-item p {
    text-align: center;
    position: relative;
    top: 6.5rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-shadow: grey 0 3px;
}

.category-item1 {
    background-image: url(images/mens-category.jpg);
    background-size: cover;
}

.category-item2 {
    background-image: url(images/trends-category.jpg);
    background-size: cover;
}

.category-item3 {
    background-image: url(images/glasses-category.jpg);
    background-size: cover;
}

.category-item4 {
    background-image: url(images/sale-category.jpg);
    background-size: cover;
}

.category-item5 {
    background-image: url(images/bags-category.jpg);
    background-size: cover;
}

.category-item6 {
    background-image: url(images/womens-category.jpg);
    background-size: cover;
}

.max-category-item {
    width: 100%;
    height: 230px;
}

.min-category-item {
    width: 49%;
}

@media screen and (min-width: 600px) {
    .category-container {
        height: 300px;
    }

    .category-item p {
        text-align: center;
        position: relative;
        top: 4rem;
        font-size: 1.5rem;
    }

    .category-item:nth-child(-n+3){
        margin-bottom: 0.5rem;
    }

    .category-item {
        height: 150px;
    }

    .max-category-item {
        width: 49.35%;
    }

    .min-category-item {
        width: 24%;
    }  
}

@media screen and (min-width: 1240px) {
    .category-container {
        height: 600px;
    }

    .category-item p {
        top: 9rem;
        font-size: 2rem;
    }

    .category-item:nth-child(-n+3){
        margin-bottom: 1rem;
    }

    .category-item {
        height: 300px;
    }
}


/* --------- end categories --------- */

/* --------- products --------- */

.products {
    width: 100%;
    height: 800px;
}

.products-title {
    font-family: "Playfair Display", Arial, sans-serif;
    font-style: italic;
}

.products-title strong {
    font-style: initial;
    font-weight: bold;
}

.products-header-container {
    width: 100%;
    margin: 0px;
    height: 150px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.products-header-container p {
    font-size: 3.5rem;
    margin: 0px;
}

.carousel {
    background:white;
}
  
.carousel-cell-container {
    width: 100%;
    height: 600px;
    margin-right: 10px;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.product-type {
    text-transform: uppercase;
    color: grey;
}

.product-name {
    color: red;
    font-family: "Playfair Display", Arial, sans-serif;
}

.product-price {
    color: grey;
}

.product-cart-btn {
    margin-top: 16px;
    background-color: black;
    color: white;
    height: 40px;
    width: 105px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media screen and (min-width: 600px) {
    .carousel-cell-container {
        width: calc( ( 100% - 10px ) / 2);
    }
}

@media screen and (min-width: 1240px) {
    .carousel-cell-container {
        width: calc( ( 100% - 30px ) / 4);
    }
}

/* --------- end products --------- */

/* --------- updates --------- */

.updates {
    width: 100%;
    height: 400px;
    background-image: url(images/wave-bkgd.jpg);
    background-size: 230% 260%;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: bottom;
}

.update-container {
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 574px;
}

.update-message-container {
    height: 400px;
    width: 57%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: 574px;
    max-width: 887px;
}

.update-title {
    color: white;
    font-size: 3.5rem;
    margin: 0px;
    font-family: "Playfair Display", Arial, sans-serif;
    font-style: italic;
    text-shadow: grey 0 3px;
}

.update-title strong {
    font-style: initial;
    font-weight: bold;
}

.update-subtitle {
    color: white;
    font-size: 1.45rem;
    text-align: center;
    line-height: 3rem;
    text-shadow: grey 0 3px;
}

.submit-email-container {
    flex-direction: row;
    background-color: white;
    width: 517px;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.input-email {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-style: hidden;
    width: 66%;
    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.subscribe-btn {
    background-color: red;
    color: white;
    width: 34%;
    margin: 0.2rem;
    font-size: 1.25rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media screen and (min-width: 1240px) {
    .updates {
        background-size: 114% 260%;
    }
}

/* --------- end updates --------- */

/* --------- footer --------- */

.footer-container {
    background-color: #262424;
    height: 400px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: 574px;
    margin-top: 1rem;
}

.footer-text {
    color: white;
}

.footer-first-column-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.copyright-text {
    margin: 2px;
    font-size: 1.55rem;
}

.contact-text {
    font-size: 1.55rem;
}

.address-text {
    color: grey;
    margin: 2px;
    font-size: 1.6rem;
}

.footer-copyright-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-address-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon-social-network {
    color: white;
    font-size: 1.2rem;
}

.footer-social-network {
    color: white;
    display: none;
}

ul#social-network-list li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

@media screen and (min-width: 600px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright-text {
        font-size: 1.20rem;
    }
    
    .contact-text {
        font-size: 1.20rem;
        margin: 0px;
    }
    
    .address-text {
        font-size: 1.25rem;
    }

    .footer-first-column-container {
        justify-content: space-evenly;
        align-items: flex-start;
        height: 65%;
        position: relative;
        left: 3%;
    }

    .footer-copyright-container {
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0px;
    }

    .footer-address-container {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-social-network {
        display: initial;
        font-size: 1.2rem;
    }

    ul#social-network-list li {
        display: block;
        margin-right: initial;
        margin-left: initial;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-social-item {
        position: relative;
        right: 3%;
        bottom: 2%;
    }

}

/* --------- end footer --------- */